/*
	Possible Animations:
	enter
	leave
	appear Must set transitionAppear={true} on animation component
*/

.order-enter
	max-height 0
	transition all 0.5s
	transform: translateX(-120%)

	&.order-enter-active
		max-height 60px
		padding 2rem 0 !important
		transform: translateX(0)

.order-leave
	transition all 0.5s
	transform translateX(0)
	&.order-leave-active
		transform translateX(120%)
		max-height: 0
		padding: 0

.count-enter
	transition all .5s
	// start offscreen
	transform translateY(100%)
	&.count-enter-active
		// back to normal
		transform translateY(0)

.count-leave
	transition all .5s
	// because need one number to overlap other
	position absolute
	left 0
	bottom 0
	// starting from where it is
	transform translateY(0)
	&.count-leave-active
		transform translateY(-100%)
